<a href="https://colab.research.google.com/github/vamshidhar23/2303A510H7-PYHTON-FOR-DATA-SCIENCE/blob/main/LAB_6_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
sales_data = pd.DataFrame({
    "TransactionID": [101, 102, 103, 104, 105, 103, 104],  # 103 and 104 are duplicates
    "Customer": ["Alice", "Bob", "Charlie", "David", "Eva", "Charlie", "David"],
    "Product": ["Shoes", "Bag", "Watch", "Shoes", "Bag", "Watch", "Shoes"],
    "Amount": [200, 350, 150, 200, 350, 150, 200]
})

In [3]:
sales_data.to_csv("sales_with_duplicates.csv", index=False)

In [4]:
cleaned_data = sales_data.drop_duplicates()

In [5]:
cleaned_data.to_csv("cleaned_sales_data.csv", index=False)

In [6]:
print(" Files created successfully:")
print("- sales_with_duplicates.csv")
print("- cleaned_sales_data.csv")

 Files created successfully:
- sales_with_duplicates.csv
- cleaned_sales_data.csv

# **PArt - 2**

In [7]:
employee_data = pd.DataFrame({
    "EmployeeID": [1, 2, 3, 4],
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Salary": ["50000", "60000", "55000", "65000"],  # stored as string
    "Joining_Date": ["2022-01-15", "2021-12-10", "2020-06-25", "2019-03-05"]  # stored as string
})

In [8]:
employee_data.to_csv("employee_dataset.csv", index=False)

In [9]:
data = pd.read_csv("employee_dataset.csv")
print("\nBefore Conversion:")
print(data.dtypes)

Before Conversion:
EmployeeID       int64
Name            object
Salary           int64
Joining_Date    object
dtype: object

In [10]:
data["Salary"] = pd.to_numeric(data["Salary"])
data["Joining_Date"] = pd.to_datetime(data["Joining_Date"])

In [11]:
data.to_csv("cleaned_employee_dataset.csv", index=False)
print(data.dtypes)

EmployeeID               int64
Name                    object
Salary                   int64
Joining_Date    datetime64[ns]
dtype: object