<a href="https://colab.research.google.com/github/vamshidhar23/2303A510H7-PYHTON-FOR-DATA-SCIENCE/blob/main/LAB_4_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1

In [2]:
import pandas as pd

df = pd.read_csv("student_scores.csv")
df_filled = df.fillna(df.mean(numeric_only=True))

high_achievers = df_filled[
    (df_filled["Math"] > 75) &
    (df_filled["Science"] > 75) &
    (df_filled["English"] > 75)
]

print("Cleaned Data (with filled values):")
print(df_filled)

print("\nHigh Achievers (All subjects > 75):")
print(high_achievers)

Cleaned Data (with filled values):
   Student_ID     Name  Math    Science    English
0           1    Alice  90.0  85.000000  92.000000
1           2      Bob  80.0  83.666667  76.000000
2           3  Charlie  80.0  78.000000  89.000000
3           4    David  70.0  88.000000  85.666667

High Achievers (All subjects > 75):
   Student_ID     Name  Math    Science  English
0           1    Alice  90.0  85.000000     92.0
1           2      Bob  80.0  83.666667     76.0
2           3  Charlie  80.0  78.000000     89.0

2

In [3]:
import pandas as pd

df = pd.read_csv("patients.csv")

df["Age"] = df["Age"].fillna(df["Age"].median())

elderly_female_diabetes = df[
    (df["Gender"].str.lower() == "female") &
    (df["Age"] > 50) &
    (df["Diagnosis"].str.lower() == "diabetes")
]

print("Cleaned Dataset:")
print(df)

print("\nElderly Female Patients with Diabetes:")
print(elderly_female_diabetes)

Cleaned Dataset:
   Patient_ID         Name   Age  Gender     Diagnosis Admission_Date
0         101  Alice Smith  65.0  Female      Diabetes     2025-01-10
1         102  Bob Johnson  45.0    Male           Flu     2025-02-15
2         103    Clara Lee  60.0  Female      Diabetes     2025-03-20
3         104  David Brown  70.0    Male  Hypertension     2025-04-05
4         105    Eva Green  55.0  Female      Diabetes     2025-05-12
5         106  Fiona White  60.0  Female      Diabetes     2025-06-18

Elderly Female Patients with Diabetes:
   Patient_ID         Name   Age  Gender Diagnosis Admission_Date
0         101  Alice Smith  65.0  Female  Diabetes     2025-01-10
2         103    Clara Lee  60.0  Female  Diabetes     2025-03-20
4         105    Eva Green  55.0  Female  Diabetes     2025-05-12
5         106  Fiona White  60.0  Female  Diabetes     2025-06-18